p{
    padding-left:20px ;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}

div.formulaire{
    text-align: center;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.infos{
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.link{
    text-align: center;
    margin-bottom: 50px;
}
