<!DOCTYPE html>
<html>
<head>
<title>Footer</title>
  <script src="https://kit.fontawesome.com/b3bc60b412.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
  <div class="footer-clean">
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-4 col-md-3 item">
            <h3>Services</h3>
            <ul>
              <li><a href="#">Poster un event</a></li>
              <li><a href="#">Participer à un event</a></li>
              <li><a href="#">Annuler</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>A propos</h3>
            <ul>
              <li><a href="#">Entreprise</a></li>
              <li><a href="#">L'équipe</a></li>
              <li><a href="#">Mentions légales</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>Carrières</h3>
            <ul>
              <li><a href="#">Offres d'emplois</a></li>
              <li><a href="#">Candidature spontanée</a></li>
              <li><a href="#">Avantages</a></li>
            </ul>
          </div>
          <div class="row-lg-3 item social">
            <a href="#">
              <i class="fa-brands fa-facebook fa-xl"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter fa-xl"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-snapchat fa-xl"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </a>
            <p class="copyright">Eventbrite © 2023</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>